/* reset */

html,
body,
main,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
q,
strong,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.c-red {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}

body {
  background-color: #f4f5f6 !important;
}

main.container-fluid {
  max-width: 1330px;
  font-family: "Roboto Condensed", sans-serif;
}

/* nav */

/* nav-large */
#nav-lg {
  height: 108px;
  padding: 20px 10px 15px;
}

.show-case-article div {
  position: relative;
}

.bottom-left div {
  background-color: rgb(241, 241, 241);
}

.editor-picks-article figure div {
  position: relative;
}

.v-grid div:not(:last-child) {
  border-bottom: 1px solid rgb(211, 210, 210);
}

.newsletter > div > div:last-child {
  border: 1px solid rgb(209, 209, 209);
}

#nav-lg > div {
  padding: 0 20px;
}

#main-logo {
  width: 400px;
  fill: white;
  height: 60px;
}

#nav-lg-left div {
  line-height: 2;
  font-weight: bold;
  font-size: 15px;
}

footer img {
  width: 240px;
}

.arrow > img {
  padding-left: 10px;
  height: 13px;
}

.nav-md-left img {
  width: 170px;
}

.nav-sm-left img {
  width: 165px;
}

.showcase-mini-story img {
  float: left;
  margin-right: 15px;
}

.editor-picks-article img {
  width: 100%;
}

.show-case-article a img {
  width: 100%;
}

.v-grid div img {
  float: left;
}

.different-articles-container > div > img {
  height: 100%;
}

.bottom-left-img img:first-child {
  z-index: 2;
  position: absolute;
  left: 80px;
  top: 15px;
}

.v-grid div:first-child img {
  width: 96px;
  height: 65px;
}

h4 a {
  font-weight: bold !important;
  color: black;
  padding-top: 10px;
}

.different-articles-title a {
  color: #f72210;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

.v-grid div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#nav-lg-left img {
  height: 20px;
}

h4 a:hover {
  text-decoration: underline red;
  color: black;
}

.show-case-article p a {
  color: #f72210;
  text-decoration: none;
}

.footer-bottom ul li a {
  color: rgb(107, 107, 107);
  padding: 0 10px;
  border-right: rgb(206, 206, 206) 1px solid;
}

.editor-picks-article figure div p a {
  color: #f72210;
  text-decoration: none;
}

.different-articles-title a:hover {
  color: #f72210;
  text-decoration: none;
}

.v-grid div a:hover {
  text-decoration: underline red;
  color: black;
}

/* nav-med */

#nav-md,
#nav-sm {
  background-color: #f72210;
  padding: 5px 0;
}

#nav-sm {
  padding: 3px 0;
}

.nav-md-right a > i,
.nav-sm-right a > i {
  color: rgba(233, 233, 233, 0.5);
}

.nav-md-right > div > *,
.nav-sm-right > div > * {
  margin-left: 15px;
}

.nav-sm-right button {
  font-size: 12px;
}

div#nav-list {
  margin: -10px 0 0;
  z-index: 2;
  position: relative;
  background-color: white;
  padding-top: 15px;
}

#nav-list ul {
  background-color: white;
  width: 87%;
}

#nav-list li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.footer-top-left p {
  font-size: 14px;
  color: rgb(134, 134, 134);
}

.showcase-mini-grid figcaption p {
  font-weight: 500;
  color: gray;
}

.footer-bottom ul:first-child li:first-child a,
.footer-bottom ul:first-child li:last-child a,
.footer-bottom ul:last-child li:last-child a {
  border: none;
}

#nav-list li a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
}

.search input {
  width: 60px;
  border: none;
  font-size: 19px;
}

.search button {
  background-color: white;
  border: none;
}

#nav-sub-list {
  background-color: white;
  margin: 2px 0;
  padding-left: 15px;
}

#nav-sub-list li a {
  color: grey;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

/* ************************ showcase column ******/

.show-case {
  background-color: white;
  margin-top: 3px;
}

.show-case-title {
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  font-weight: 600;
}

.editor-picks-article figure div p {
  position: absolute;
  bottom: 0;
  left: 0;
}

.editor-picks-article figure div p,
.show-case-article div p:first-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgb(243, 243, 243);
  color: #f72210;
  font-weight: bolder;
}

h4 {
  font-weight: bold !important;
  color: black;
  padding-top: 10px;
}

h5 {
  font-weight: 600 !important;
  color: black;
}

.showcase-mini-story {
  border-top: 1px rgb(202, 202, 202) solid;
}

.debate {
  border-top: 4px rgb(211, 211, 211) solid;
  border-bottom: 4px rgb(211, 211, 211) solid;
}

#showcase-column3 figure img,
#showcase-column3 figure:first-child img {
  float: left;
  width: 65px;
  margin-right: 15px;
}

#showcase-column3 > .debate figure:nth-of-type(2) img {
  float: right;
  width: 65px;
}

hr {
  margin: 10px 0 !important;
}

.signup-form {
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  width: 295px;
}

.signup-form-img,
.section-seperator-img {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.signup-form-btn-img {
  width: 8px;
}

.signup-form-title {
  line-height: 0.8;
  font-weight: 700;
  font-size: 19px;
}

.section-seperator-text {
  padding-top: 17px;
  font-weight: bolder;
  font-size: 19px;
}

/* Magazine-article */

.magazine-article-img {
  object-fit: cover;
}

.section-seperator,
.different-articles-section {
  background-color: #fff;
}

.magazine-section,
.editor-picks-section {
  background-color: #fff;
  border-top: 1px solid rgb(211, 210, 210);
}

.magazine-article p {
  color: #f72210;
  font-weight: bold;
  padding-top: 10px;
}

.magazine-article span {
  color: white;
  background-color: #f72210;
  padding: 5px 9px;
  font-size: 16px;
  margin-right: 5px;
}

.magazine-article figure {
  position: relative;
}

.bottom-left-description h4 {
  font-weight: bold;
}

.magazine-article a h4,
a h6 {
  font-weight: bolder;
  color: black;
  padding-top: 10px;
}

.different-articles-title {
  border-top: 1px rgb(212, 212, 212) solid;
}

.right-arrow {
  height: 10px;
}

.bottom-left-img {
  position: relative;
  float: left;
  margin-right: 100px;
}

.bottom-left-description {
  margin-top: 10px;
}

.bottom-left-decscription button {
  font-size: 19px;
}

.subscribe-bottom {
  color: #f72210;
  font-weight: 600;
}

.bottom-section {
  background-color: #fff;
  margin-top: 3px;
}

.features {
  color: black;
  font-size: 18px;
  padding: 10px 0;
  background-color: rgb(228, 228, 228);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.features:hover {
  background-color: rgb(163, 163, 163);
  text-decoration: none;
}

.magazine-article-img:hover {
  cursor: pointer;
}

/* pseudo classes */

#nav-list::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 80px;
  height: 14px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  justify-self: flex-end;
}

#nav-sub-list li:first-of-type a {
  color: black;
}

#nav-list li:not(:last-child) {
  border-right: 1px solid rgb(201, 201, 201);
}

#nav-list li a:hover,
#nav-sub-list li a:hover {
  color: #f72210;
}

a h4:hover,
a h6:hover {
  text-decoration: underline red;
  color: black;
}

h5:hover {
  text-decoration: underline red;
  color: black;
}

footer {
  background-color: #fff;
  margin-top: 2px;
}

.footer-top {
  border-bottom: 1px solid rgb(207, 205, 205);
}

.footer-top-right li a i {
  color: rgb(112, 112, 112);
}

.Subscription {
  margin-top: 3px;
}
